
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */


:root {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    --primary-color: #1f73c6;
    --secondary-color: #132d61;
    --save-color: #e69915;
    --hover-color-100: #c0c8cf;
    --hover-color-75: #dce1e7b6;
    --hover-color-50: #dce1e78a;
    --bg-color: #f8f8f8;
    --header-height: 70px;
    --sidebar-width: 250px;
}




/* L A Y O U T */
body {
    display: grid;
    grid-template-areas:
    "sidebar nav"
    "sidebar main"
    "sidebar main";
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) 1fr;
    min-height: 100vh;
    position: relative;
    background-color: var(--bg-color);
    transition: grid .3s ease;
}



/* M A I N    C O N T E N T  */
.main-content {
    grid-area: main;
    padding: 2rem;
}



/* H E A D E R  */
.header {
    grid-area: nav;
    box-shadow: 0 .05rem .1rem 0 rgba(128, 128, 128, 0.444);
    position: sticky;
    top: 0;
}
.navbar {
    background-color: #fff;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 0 2rem;
    overflow: hidden;
    & .name-logo-brand {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        & a img {
            object-fit: contain;
            object-position: center;
            width: calc(var(--header-height) - 5px);
            height: calc(var(--header-height) - 5px);
            border-radius: 50%;
        }
    }
    & .nav-links ul {
        display: flex;
        gap: 2rem;
    }
    & li > a, & li > .logout-form {
        /* font-weight: bolder; */
        display: flex;
        flex-direction: row-reverse;
        gap: .7rem;
        text-transform: capitalize;
        cursor: pointer;
        & button { cursor: pointer; }
        & svg { fill: #111; }
        &:hover {
            color: var(--primary-color);
            svg { fill: var(--secondary-color); }
        }
    }
}




/*  S I D E B AR  */
.sidebar-content {
    grid-area: sidebar;
    box-shadow: .05rem 0 .1rem 0 rgba(128, 128, 128, 0.444);
    width: var(--sidebar-width);
    height: 100%;
    background-color: #fff;
    scrollbar-width: thin;
    scrollbar-color: var(--hover-color-50) transparent;
    position: fixed;
    overflow-y: scroll;
    left: 0;
    top: 0;
}
.sidebar-full {
    position: relative;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 2em; */
    padding: .5rem .3rem 2rem .3rem;
}
.minimize {
    position: sticky;
    place-self: end;
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding: .5rem;
    /* border-radius: .4rem; */
    /* background-color: var(--hover-color-50); */
    /* box-shadow: 0 .2rem .3rem 0 rgba(128, 128, 128, 0.485); */
    & svg {
        fill: #111;
        width: 21px;
        height: 21px;
    }
    &:hover svg { fill: var(--primary-color); }
}
.sidebar-full.minimized { display: none; }
.admin-profile-access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    & .admin-picture {
        background-color: #cdd2d862;
        height: 70px;
        width: 70px;
        box-shadow: 0 .2rem .3rem 0 rgba(128, 128, 128, 0.651);
        border-radius: 20%;
        padding: .3rem;
        & img  {
            border-radius: 20%;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    & h2 {
        font-size: smaller;
        text-transform: capitalize;
        font-weight: 500;
    }
}
.date-name-branch {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin-block: 2em;
    gap: 1rem;
    & strong { text-transform: capitalize; font-size: .75rem; }
    & h1 {
        color: #111;
        font-weight: 900;
        line-height: 2rem;
    }
}
.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding-block-end: 2rem;
    & details {
        & summary {
            border-radius: .5rem;
            font-weight: 500;
            padding: .7rem 1rem;
            list-style: none;
            display: flex;
            justify-content: space-between;
            min-width: 100%;
            text-transform: capitalize;
            background-color: aliceblue;
            transition: transform .2s ease;
            &::after {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23111111'%3E%3Cpath d='M480-80 240-320l57-57 183 183 183-183 57 57L480-80ZM298-584l-58-56 240-240 240 240-58 56-182-182-182 182Z'/%3E%3C/svg%3E");
            }
            &:hover { transform: scale(105%); }
        }
        & .links {
            display: flex;
            flex-direction: column;
        }
        & .links > a {
            display: flex;
            padding: .5rem 1rem;
            border-radius: .5rem;
            gap: .4rem;
            font-weight: 600;
            text-transform: capitalize;
            color: #111;
            & svg { fill: #111; min-width: 25px; min-height: 25px; max-width: 25px; max-height: 25px; }
            &:first-of-type, &:nth-of-type(2), &:nth-of-type(3) {
                border-radius: 0;
            }
            &:last-of-type {
                border-radius: 0 0 .5rem .5rem;
            }
        }
        &[open] a:hover {
            background-color: var(--hover-color-75);
        }
        &:hover > summary, &[open] > summary {
            background-color: var(--hover-color-100);
            color: white;
            &::after {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23ffffff'%3E%3Cpath d='m480-320 160-160-160-160-56 56 64 64H320v80h168l-64 64 56 56Zm0 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'/%3E%3C/svg%3E");
            }
        }
        &[open] > summary {
            background-color: #b1bbc4;
            &::after {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e8eaed'%3E%3Cpath d='M440-440v240h-80v-160H200v-80h240Zm160-320v160h160v80H520v-240h80Z'/%3E%3C/svg%3E");
            }
        }
    }
}

/* S I D E B A R     M I N I M I Z E D  */
.sidebar-minimized { display: none; }
.sidebar-minimized.visible {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: .5rem 0;
    & .sidebar-links {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 2.5rem 0 2rem .5rem;
        gap: 1rem;
        & .link {
            background-color: aliceblue;
            border-radius: .3rem;
            padding: .7rem .5rem;
            transition: transform .3s ease;
            & svg {
                margin: auto;
                fill: #111;
                width: 100%;
                height: auto;
            }
            &:hover {
                background-color: var(--hover-color-100);
                transform: scale(105%);
                & svg { fill: white; }
            }
        }
    }
}



/*  C R E D E N T I A L S     C R E A T E      F O R M  */
.form-create-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & h1 {
        text-align: start;
        text-transform: capitalize;
        font-size: x-large;
        font-weight: 600;
        background-color: #fff;
        box-shadow: 0 0 .1rem 0 rgba(128, 128, 128, 0.689);
        border-radius: .3rem;
        padding: .3rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & svg {
            width: 40px;
            height: 40px;
            fill: #111;
        }
    }
    & .form-create {
        padding: 2rem;
        background-color: #fff;
        height: 100%;
        border-radius: .3rem;
        box-shadow: 0 0 .1rem 0 rgba(128, 128, 128, 0.689);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-template-rows: auto;
        gap: 3rem 2rem;
        & fieldset {
            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: 1rem;
            & p {
                font-size: small;
                color: rgb(235, 26, 26);
            }
            & legend {
                font-weight: 600;
                color: rgb(102, 97, 97);
            }
        }
        & .field-select {
            grid-column-start: 1;
            grid-column-end: -1;
            & select { width: 100%; }
        }
        & input, select {
            border-radius: .3rem;
            padding: .6rem;
            border: none;
            outline: none;
            box-shadow: 0 0 .1rem 0 rgb(110, 110, 110);
            &::placeholder {
                color: var(--hover-color-100);
            }
            &:focus {
                box-shadow: none;
                border-inline-start: .3rem solid rgba(128, 128, 128, 0.685);
            }
        }
        & .form-btn {
            gap: .5rem;
            grid-column-start: -1;
            grid-column-end: -2;
            cursor: pointer;
            /* background-color: var(--save-color); */
            background-color: #b7bdc2;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: x-large;
            text-transform: uppercase;
            font-weight: 900;
            color: #fff;
            padding: .5rem 0;
            border-radius: .1rem;
            letter-spacing: .1rem;
            & svg {
                fill: #fff;
                width: 25px;
                height: 25px;
            }
            &:hover{
                background-color: var(--primary-color);
                /* background-color: #fa4935; */
            }
        }
    }
}









/* .form-create-container {
    min-height: 100vh;
} */
