
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
    --primary-color: #132d61;
    --header-height: 100px;
    --sidebar-width: 300px;
}

/* HEADER STYLES */
.navbar {
    max-height: var(--header-height);
    background-color: var(--primary-color);
    color: #fff;
}



/* .form-create-container {
    min-height: 100vh;
} */
