/* @import url(fonts.css); */
@import "tailwindcss";
@tailwind utilities;




:root {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #263050 white;
    --primary-color: #1f73c6;
    --blue-light: #007bff;
    --secondary-color: #132d61;
    --deep-blue-1: #101729;
    --deep-blue-2: #0f172a;
    --deep-blue-3: #1e2c4f;
    --deep-blue-4: #2d437a;
    --deep-blue-5: #051131;
    --deep-blue-6: #34436e;
    --deep-blue-7: #101218;
    --save-color: #e69915;
    --hover-color-100: #c0c8cf;
    --hover-color-75: #dce1e7b6;
    --hover-color-50: #dce1e78a;
    --bg-color: #f8f8f8;
    --header-height: 60px;
    --sidebar-width: 215px;

    li { list-style-type: none; }
    textarea { field-sizing: content; }
    button { border: none; outline: none; }
    a { text-decoration: none; }
    fieldset { border: none; }

    & :is(p,body,div,span,a,button,select, *) { font-family: 'Bitter'; }

    & ::selection {
        background-color: #435385;
        color: white;
    }
}








/*  S W E E T     A L E R T S  */
.colored-toast.swal2-icon-question { background-color: #7ea6b8 !important; }
.colored-toast.swal2-icon-success { background-color: #9cd37d !important; }
.colored-toast.swal2-icon-warning { background-color: #5c9e61 !important; }
.colored-toast.swal2-icon-error { background-color: #ee4130 !important; }
.colored-toast.swal2-icon-info { background-color: #e28141 !important; }
.colored-toast { font-size: .87rem; max-width: max-content; }
.colored-toast .swal2-html-container { color: white; }
.colored-toast .swal2-title { color: white; }
.colored-toast .swal2-close { color: white; }
.swal-custom-btn {
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 .2rem .1rem 0 rgba(0, 0, 0, 0.197) !important;
    span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: large;
    }
    svg {
        width: 20px;
        height: 20px;
        fill: white;
    }
}
.swal-pay-btn { background-color: #00bd5f !important; margin-inline-end: 9rem !important; }
.swal-cancel-btn { background-color: rgba(255, 0, 0, 0.801) !important; }
.swal-custom-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    legend, h2   {
        font-size: larger;
        font-weight: 700;
    }
}
.scf-stock { padding: .8rem; }








/* L A Y O U T */
body {
    display: grid;
    grid-template-areas:
    "nav nav"
    "sidebar main"
    "sidebar main";
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) 1fr;
    min-height: 100vh;
    position: relative;
    /* background-color: var(--bg-color); */
    background-color: #eeeeee;
    transition: grid .3s ease;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}







/*  M A I N  */
.main-content {
    grid-area: main;
    height: 100%;
    padding-block-end: 5rem !important;
}
.matriz-content {
    padding: 2rem 1rem;
}








/*  H E A D E R  */
.header {
    grid-area: nav;
    z-index: 1000;
    box-shadow: 0 .05rem .05rem 0 rgba(128, 128, 128, 0.44);
    position: sticky;
    top: 0;
}
.navbar, .brand-logo, .nav-links-container, .nav-links-list, .nav-links-list li > a, li > form, .profile-access > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.navbar {
    width: 100%;
    padding: .3rem 3rem;
    background-color: #fff;
    justify-content: space-between;
    .brand-logo {
        min-height: var(--header-height);
        width: 50px;
        padding: .5rem 0;
        & img {
            min-height: var(--header-height);
            min-width: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}
.nav-links-container {
    gap: 2rem;
}
.nav-links-list {
    gap: 2rem;
    & li > a, li > form {
        gap: .5rem;
        text-transform: capitalize;
        &.active {
            color: var(--primary-color);
            & svg {
                fill: var(--primary-color);
            }
        }
        & svg {
            fill: #111;
            width: 22px;
            height: 22px;
        }
        &:hover {
            color: var(--primary-color);
            & svg {
                fill: var(--primary-color);
            }
        }
    }
}

.profile-access > a {
    width: 100%;
    border-radius: .3rem;
    & img {
        height: 50px;
        width: 50px;
        min-width: 40px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
}







/*  S I D E B A R  */
.sidebar-container {
    grid-area: sidebar;
    /* background-color:var(--deep-blue-1); */
    /* background-color: #1a2443f4; */
    background: linear-gradient(#1a2443f4,  #3f5188f4 );
    position: fixed;
    left: 0;
    z-index: 999;
    top: var(--header-height);
    height: 100%;
    width: var(--sidebar-width);
    overflow-y: auto;
    /* direction: rtl; */
    /* writing-mode: vertical-rl; */
    scrollbar-width: thin;
    padding-block-end: 5rem;
    scrollbar-color: transparent transparent;
    /* box-shadow: .05rem 0 .05rem 0 rgba(128, 128, 128, 0.64); */
    box-shadow: .1rem 0 0 0 rgba(0, 0, 0, 0.884);
    /* box-shadow: .2rem 0 1rem 0 rgba(0, 0, 0, 0.582); */
    .minimize {
        position: sticky;
        /* top: 20px; */
        top: 0;
        width: 100%;
        margin: auto;
        right: 3%;
        place-self: end;
        display: flex;
        justify-content: space-between;
        padding: .9rem 1.5rem;
        padding-block-start: 1.2rem;
        /* padding: .5rem; */
        background-color: #263050;
        border-radius: 0 0 .5rem 0;
        /* box-shadow: 0 .2rem .3rem 0 rgba(128, 128, 128, 0.485); */
        z-index: 11111;
        & span {
            color: white;
            font-size: large;
            letter-spacing: .2rem;
        }
        & svg {
            cursor: pointer;
            fill: #fff;
            width: 26px;
            height: 26px;
            &:hover {
                fill: goldenrod;
            }
        }
    }
}
.sidebar {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-inline: .3rem;
}
.date {
    /* position: absolute; */
    /* top: 20px; */
    /* bottom: 12%; */
    min-width: 100%;
    /* margin: auto; */
    /* left: 0; */
    /* padding: 0 .5rem; */
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-size: x-small;
    & p {
        font-size: .75rem;
    }
}
.sidebar-links-container {
    display: flex;
    flex-direction: column;
}
.sidebar-links-container, .sidebar-links, .sidebar-links-list{ height: inherit; }
.sidebar-links-container { margin-block-start: 1.5rem; }
.sidebar-links-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block-end: 2rem;
    & li a {
        width: 92%;
        margin: auto;
        padding: .65rem 1rem;
        /* background-color: #fde8be; */
        /* background-color:var(--deep-blue-3); */
        /* background-color:var(--hover-color-100); */
        background-color: #ffffffe7;
        border-radius: .5rem;
        /* color: #fff; */
        text-transform: capitalize;
        /* font-size: large; */
        /* justify-content: space-between; */
        display: flex;
        gap: 1.7rem;
        transition: transform .2s ease;
        /* font-size: smaller; */
        font-family: Arial, Helvetica, sans-serif;
        &.active {
            /* filter: invert(); */
            background-color: #ffffff;
            box-shadow: 0 .40rem .1rem 0 #ffffff5d;
            color: #000;
            font-weight: 500;
            transform: scale(95%);
            & svg { fill: #000; }
        }
        & svg {
            min-width: 20px;
            min-height: 20px;
            max-width: 20px;
            max-height: 20px;
            fill: #111;
        }
        &:hover {
            /* filter: invert(); */
            transform: scale(95%);
            background-color: #efe8d6;
            color: #000;
            & svg { fill: #000; }
        }
    }
}









/*  M O D A L  */
.modal-background {
    background-color: #00000059;
    height: 100vh;
    width: 100%;
    position: fixed;
    inset: 0;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    & .modal-container {
        width: 60%;
        border-radius: .7rem;
        height: 85%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: start;
        justify-content: start;
        overflow: hidden;
        padding: 1rem;
        transform: scale(0.8);
        transition: transform 0.3s ease-in-out;
        & .close-modal {
            position: absolute;
            right: 4%;
            cursor: pointer;
            & svg {
                fill: #ff0000;
                width: 30px;
                height: 30px;
            }
            &:hover svg  { fill: #000; }
        }
        & h2 { font-size: x-large; padding: 1rem; }
        & .content-modal, form { width: 100%; }
        & .content-modal {
            overflow-y: scroll;
            padding: 0 1rem;
            scrollbar-width: thin;
            scrollbar-color: rgba(128, 128, 128, 0.521) white;
        }
    }
}
.modal-container.show { transform: scale(1); }
.modal-container.hide { transform: scale(0.8); }
.modal-background.show { opacity: 1; visibility: visible; }
.modal-background.hide { opacity: 0; visibility: hidden; }

/*  O R D E R S   C O N T E N T   M O D A L  */
.content-modal > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block-end: 3rem;
    position: relative;
    & .header-send-order, .order-summary, .header-send-order button {
        display: flex;
        align-items: center;
        gap: .5rem;
    }
    & .header-send-order {
        justify-content: space-between;
        position: sticky;
        top: 0;
        background-color: #fff;
        padding-block-end: .3rem;
        & .order-summary span {
            font-weight: 700;
        }
        & button {
            background-color: var(--deep-blue-2);
            color: white;
            border-radius: .4rem;
            padding: .5rem 1rem;
            cursor: pointer;
            box-shadow: 0 .15rem .2rem 0 gray;
            &:hover {
                filter: invert();
                transform: scale(95%);
            }
        }
    }
}
.content-modal > form > .grid-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    justify-content: space-between;
    align-items: center;
    gap: .7rem;
    padding-inline: .1rem;
    & .shipping-product-card {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        box-shadow: 0 0 .15rem 0 gray;
        gap: 1rem;
        padding: .5rem 1rem;
        border-radius: .5rem;
        & .product-details {
            display: flex;
            justify-content: space-between;
            gap: .5rem;
            align-items: center;
            width: 100%;
            & p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                max-width: 400px;
                font-size: .73rem;
            }
            & span {
                font-weight: 700;
                font-size: small;
            }
        }
        & .actions-btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 100%;
            gap: .65rem;
            & button {
                cursor: pointer;
                box-shadow: 0 .1rem .2rem 0 rgba(128, 128, 128, 0.699);
                padding: .2rem;
                background-color: #fff;
                border-radius: .4rem;
                & svg {
                    width: 25px;
                    height: 25px;
                    fill: var(--secondary-color);
                }
                &:hover {
                    background-color: #f1f1f1fd;
                }
                &:last-of-type svg {
                    fill: #ff0000;
                }
            }
        }
    }
}

/*  R E G I S T E R S   D E T A I L S   M O D A L  */












/*  D A S H B O A R D  */
/* .dashboard-container {
    padding: 1rem;
} */












/*  I N V E N T A R I O  */
.crud-container, .crud-header, .inventory-content {
    display: flex;
    flex-direction: column;
}
.inventory-content {
    gap: 1rem;
    & select, input{
        background-color: #fff;
        box-shadow: 0 .2rem .3rem 0 rgba(128, 128, 128, 0.151);
        border: none;
        outline: none;
        border-radius: .4rem;
        padding: .5rem 1.2rem;
        font-size: small;
    }
}
.subsidiaries-filter {
    display: flex;
    width: 100%;
    gap: 1rem;
}
.searcher-links {
    display: flex;
    justify-content: space-between;
    & .categories-brands {
        display: flex;
        gap: 1rem;
        & a {
            box-shadow: 0 .2rem .2rem 0 rgba(128,128,128,0.850);
            padding: 0 1.2rem;
            border-radius: .4rem;
            color: white;
            min-width: 120px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .7rem;
            font-size: small;
            &:first-child { background-color: var(--primary-color); }
            &:last-child { background-color: var(--primary-color); }
            &:hover { filter: invert(); }
            & svg {
                fill: #fff;
                width: 20px;
                height: 20px;
            }
        }
    }
}
.crud-container {
    min-height: 100%;
    background-color: #fff;
    padding: 1rem 2rem;
    padding-block-end: 3rem;
    border-radius: .8rem;
    gap: 5rem;
    & .crud-element {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    & h2 {
        color: #111;
        font-size: x-large;
        font-weight: 700;
    }
    & .crud-grid > .chart {
        grid-column: 1 / -1;
        color: #111;
    }
}
.crud-top-header, .crud-middle-header, .crud-middle-header > .details, .crud-bottom-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.crud-header {
    gap: 3rem;
}
select.crud-header-select {
    background-color: var(--deep-blue-2);
    color: white;
    appearance: none;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e8eaed'%3E%3Cpath d='M480-360 280-560h400L480-360Z'/%3E%3C/svg%3E");
    padding-inline-end: 2.2rem;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    box-shadow: 0 .1rem .2rem rgb(128, 128, 128);
    &.sucursal-select {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23000000'%3E%3Cpath d='M480-360 280-560h400L480-360Z'/%3E%3C/svg%3E");
        background-color: #f5efe2;
        color: #000;
        font-weight: 500;
        /* filter: invert(); */
        min-width: 180px;
        max-width: 180px;
        & option { font-size: small; font-style: italic; }
        /* &:hover { filter: invert(); } */
    }
    /* &:hover {
        filter: invert();
    } */
}
.crud-top-header {
    & .crud-tittle {
        display: flex;
        flex-direction: column;
        gap: .7rem;
        & .title-shortcut-inventory {
            display: flex;
            gap: 1.3rem;
            align-items: center;
            & h1 {
                display: flex;
                gap: 1rem;
                align-items: center;
            }
            & > svg {
                fill: #111;
                width: 18px;
                height: 18px;
            }
        }
        & h1 {
            text-transform: capitalize;
            font-weight: 700;
            font-size: x-large;
        }
        & p {
            font-size: medium;
        }
    }
    & .crud-add-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .6rem;
        background-color:var(--deep-blue-2);
        color: #fff;
        padding: .5rem 1rem;
        font-size: small;
        border-radius: .4rem;
        box-shadow: 0 .2rem .3rem 0 rgba(128, 128, 128, 0.151);
        & svg{
            fill: white;
            width: 22px;
            height: 22px;
        }
        &:hover { filter: invert(); }
    }
}
.crud-middle-header {
    box-shadow: 0 .05rem 0 0 rgba(128, 128, 128, 0.401);
    & .details {
        padding-block-end: .6rem;
        justify-content: baseline;
        align-items: stretch;
        & .summary {
            /* max-width: 100%; */
            min-width: 200px;
            padding: 0 1.5rem 1rem 1.5rem;
            box-shadow: .08rem 0 0 0 rgba(128, 128, 128, 0.401);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* min-height: 110px; */
            /* min-width: max-content; */
            &:last-of-type { box-shadow: none; }
            &:first-of-type { padding-inline-start: 0; flex-shrink: 2; }
            &:nth-of-type(2) { flex-shrink: 2;  }
            & p {
                display: block;
                font-size: 1rem;
            }
            & span {
                display: block;
                color: var(--primary-color);
                font-weight: 900;
                font-size: 1.3rem;
                word-wrap: break-word;
                max-width: 350px;
            }
        }
    }
}
.crud-bottom-header {
    gap: 2rem;
    & .delete-all-form, .crud-searcher {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    & .delete-all-form > input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }
    & .crud-searcher {
        width: 50%;
        gap: 0;
        position: relative;
        & input {
            width: 100%;
        }
        & span {
            position: absolute;
            right: 10%;
            cursor: pointer;
            & svg {
                fill: var(--deep-blue-2);
            }
        }
        & button {
            height: 100%;
            padding: .5rem;
            border-radius: 0 .4rem .4rem 0;
            background-color: #252f3f;
            & svg {
                fill: #fff;
                width: 25px;
                height: 25px;
            }
        }
    }
}
.branch-shipping {
    max-width: max-content;
    position: relative;
    & .count-list-products-circle {
        background-color: #01ad0a;
        box-shadow: 0 .2rem .2rem 0 gray;
        z-index: 11;
        position: absolute;
        right: -4px;
        top: -4px;
        width: 20px;
        height: 20px;
        color: white;
        display: none;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        & span {
            text-align: center;
            font-size: small;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 17px;
            max-width: 17px;
        }
    }
    & button {
        background-color: rgb(255, 255, 255);
        /* filter: invert(); */
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .3rem 1.3rem;
        border-radius: .4rem;
        cursor: pointer;
        box-shadow: 0 .3rem .2rem 0 rgba(128, 128, 128, 0.658);
        transition: transform .2s ease;
        & svg {
            fill: #111;
            width: 28px;
            height: 28px;
        }
        &:hover {
            transform: scale(95%);
            box-shadow: 0 .16rem .2rem 0 gray;
        }
        &:active {
            background-color: #f8f6f2;
        }
    }
    &:hover .count-list-products-circle {
        transform: scale(95%);
        box-shadow: 0 .16rem .2rem 0 gray;
        filter: invert();
    }
}
.shortcut-link-btn {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .2rem .2rem 0 rgba(128, 128, 128, 0.719);
    background-color: #bd6742;
    border-radius: .4rem;
    padding: .4rem .55rem;
    & > svg {
        fill: #fff;
        width: 18px;
        height: 18px;
    }
    &:hover {
        filter: invert();
    }
    &:active > svg {
        fill: #000;
    }
    &.active {
        filter: invert();
        box-shadow: 0 .22rem .2rem 0 rgba(255, 255, 255, 0.60);
        & svg { fill: #000; }
    }
}
.crud-grid {
    width: 100%;
    height: 100%;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* grid-template-rows: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-auto-rows: max-content;
    gap: 1rem;
}
.registers-empty {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(0, 0, 0, 0.815);
    font-weight: bolder;
    height: 200px;
    letter-spacing: .15rem;
    & svg {
        filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.6));
        width: 45px;
        height: 45px;
        fill: #11111157;
    }
}
.register-frame {
    /* padding: 1rem; */
    /* background-color: #0c1220; */
    /* border-radius: .7rem; */
    /* gap: .6rem; */
    padding: .6rem;
    border-radius: .5rem;
    gap: .4rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 .2rem .2rem 0 rgba(128,128,128,0.850);
    transition: background-color .5s ease;
    &:hover {
        background-color: var(--hover-color-100);
        & .menu-toggle > svg {
            fill: #fff;
        }
    }
}
.register-frame.active { background-color: var(--hover-color-100); }
.register-details-link {
    width: 100%;
    padding: .5rem 1rem;
    cursor: pointer;
    /* border-radius: .7rem 0 0 .7rem; */
    border-radius: .5rem 0 0 .5rem;
    background-color: #fff;
    color: #111;
    font-family: 'Montserrat';
    /* &:hover {
        background-color: #3e4c75;
        color: #fff;
    } */
}
.register-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: .5rem;
    height: 100%;
}
.header-register {
    & p, span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 300px;
        font-family: Arial, Helvetica, sans-serif;
        /* width: 100%; */
        font-size: smaller;
    }
    & p { font-weight: 700; }
    & span {
        letter-spacing: .1rem;
        display: block;
        font-size: x-small;
        text-transform: uppercase;
    }
}
.body-register {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    & img {
        background-color: #fff;
        width: 60px;
        height: 60px;
        object-fit: cover;
        object-position: center;
        border-radius: .5rem;
    }
    & .quantities {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* gap: .2rem; */
        & p {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: .70rem;
            gap: 1rem;
            & span {
                font-weight: 600;
                /* font-style: italic; */
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 170px;
                /* width: 100%; */
                text-align: end;
                letter-spacing: .05rem;
                word-spacing: .1rem;
            }
        }
        & .created_at_date span { text-transform: capitalize; }
    }
}
.register-actions-menu-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 0 .7rem .7rem 0;
    padding: .4rem;
    /* background-color: var(--hover-color-100); */
    & svg {
        fill: #111;
        width: 27px;
        height: 27px;
        transform: rotateY(180deg);
    }
}
.register-actions {
    position: absolute;
    display: none;
    left: 40px;
    grid-template-columns: repeat(4, minmax(40px, 1fr));
    justify-content: space-between;
    background-color: #c0c8cf;
    gap: .8rem;
    border-radius: 0 1rem 1rem 0;
    padding: .6rem;
    flex-wrap: wrap;
    & a, .status-btn > button, .aproved-btn > button, .add-stock-btn, .return-stock-btn {
        display: flex;
        justify-content: space-between;
        gap: .4rem;
        cursor: pointer;
        border-radius: .7rem;
        text-transform: capitalize;
        padding: .4rem;
        transition: transform .4s ease;
        &:hover {
            filter: invert();
            transform: translateY(-8.5px);
        }
        & svg {
            width: 27px;
            height: 27px;
        }
    }
    & a {
        background-color: #1f73c6;
    }
    & .add-stock-btn {
        background-color: #111;
        & svg { fill: #fff; }
    }
    & .return-stock-btn {
        background-color: #111;
        filter: invert();
        & svg { fill: #fff; transform: rotateY(180deg); }
    }
    & .active-btn > button {
        background-color: #b4822a;
    }
    & .inactive-btn > button {
        background-color: #b92525;
    }
    & .aproved-btn > button {
        background-color: #01ad0a;
    }
}
.register-actions-menu-container.active .menu-toggle svg { fill: #fff; }
.register-actions-menu-container.active .register-actions { display: grid; }
.register-actions-menu-container.inverted .register-actions {
    left: auto;
    right: 40px;
    transform: rotateY(180deg);
    & a svg, button svg { transform: rotateY(180deg); }
    & .return-stock-btn svg { transform: none; }
}


/*  A G R E A G A R    P R O D U C T O  */
.form-create-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & .category-form-header, .brand-form-header {
        width: 86%;
        margin: auto;
    }
    & .form-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 0 .1rem 0 rgba(128, 128, 128, 0.689);
        border-radius: .3rem;
        padding: .5rem 2rem;
        & h1 {
            text-transform: capitalize;
            font-size: x-large;
            font-weight: 600;
        }
        & .shortcuts-links{
            display: flex;
            gap: 1.1rem;
            align-items: center;
            & > svg {
                fill: #111111c2;
                width: 22px;
                height: 22px;
            }
            /* & a {
                display: flex;
                gap: 1rem;
                align-items: center;
                justify-content: center;
                background-color:#bd6742;
                border-radius: .4rem;
                padding: .13rem .19rem;
                box-shadow: 0 .2rem .2rem 0 rgba(128, 128, 128, 0.726);
                & svg {
                    fill: #f7f2f2de;
                    width: 25px;
                    height: 25px;
                }
            } */
        }
    }
    & .form-create {
        padding: 2rem;
        background-color: #fff;
        height: 100%;
        border-radius: .3rem;
        box-shadow: 0 0 .1rem 0 rgba(128, 128, 128, 0.689);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        /* grid-auto-rows: minmax(auto, max-content); */
        grid-auto-flow: row;
        gap: 3rem 2rem;
        & fieldset {
            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: 1rem;
            & p {
                font-size: small;
                padding-bottom: .6rem;
                color: rgb(235, 26, 26);
            }
            & legend {
                font-weight: 600;
                color: rgb(102, 97, 97);
                font-size: smaller;
            }
            & .type_sales, .type_sales > div {
                display: flex;
                gap: 1rem;
                justify-content: start;
                align-items: center;
                & input {
                    width: 18px;
                    height: 18px;
                }
            }
            & .type_sales > div { gap: .3rem; }
        }
        & .field-select {
            grid-column-start: 1;
            grid-column-end: -1;
            /* overflow: hidden; */
            & select { width: 100%; font-size: small; }
        }
        & input[type="text"], input[type="date"], input[type="file"], input[type="number"], input[type="radio"], textarea, select {
            border-radius: .3rem;
            font-size: small;
            padding: .6rem;
            border: none;
            outline: none;
            box-shadow: 0 0 .1rem 0 rgb(110, 110, 110);
            &::placeholder {
                color: var(--hover-color-100);
            }
            &:focus {
                box-shadow: none;
                border-inline-start: .3rem solid rgba(128, 128, 128, 0.685);
            }
        }
        & input[type="radio"] { box-shadow: none; }
        & .form-btns, .form-btn {
            grid-column: -2 / -1;
        }
        & .form-btns { align-self: flex-end; }
        & .form-btn {
            gap: .5rem;
            /* grid-row-start: -1; */
            /* grid-row-end: -1; */
            align-self: end;
            margin-top: auto;
            cursor: pointer;
            background-color:var(--deep-blue-2);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: medium;
            text-transform: capitalize;
            color: #fff;
            padding: .5rem 0;
            border-radius: .5rem;
            letter-spacing: .1rem;
            width: 60%;
            max-width: 100%;
            place-self: end;
            & svg {
                fill: #fff;
                width: 22px;
                height: 22px;
            }
            &:hover{
                filter: invert();
            }
        }
        & .reset-btn {
            background-color: red;
            width: 60%;
            padding-inline: 1rem;
            max-width: 100%;
        }
        & .field-image-edit-form {
            grid-column: 1 / span 1;
        }
        & .image-upload-container, .current-image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            border: 2px dashed #ccc;
            padding: 15px;
            text-align: center;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s;
            &:hover { border-color: var(--blue-light); }
            & input { display: none; }
            & img {
                max-width: 100px;
                max-height: 100px;
                object-fit: cover;
                border-radius: 5px;
                display: none;
            }
        }
        & .current-image-container { cursor: auto; & img { display: block; } }
        & .upload-label {
            font-size: 16px;
            color: var(--blue-light);
            cursor: pointer;
        }
    }
    & #form-editar :is(input, select, .current-image-container) {
        background-color: #f5efe2;
        &:focus { background-color: #fff; }
    }
}

/*  E D I T A R    P R O D U C T O  */













/*  C A T E G O R I A S  -----*/         /*-----  M A R C A S  */
.crud-grid-category, .crud-grid-brand {
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    grid-template-rows: auto;
    justify-content: space-between;
    gap: 1.8rem;
}
.crud-grid-category :is(.category-frame, .brand-frame) {
    /* max-height: 100px; */
    border-radius: .6rem;
    & .category-details-link, .brand-details-link {
        display: flex;
        border-radius: .6rem;
        /* align-items: center; */
        justify-content: start;
        font-weight: 600;
        min-width: max-content;
        font-family: Arial, Helvetica, sans-serif;
        & p {
            max-width: 170px;
            font-size: .9rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    & .category-details-link {
        flex-direction: column;
        gap: 1rem;
        & p {
            min-width: 100%;
            gap: .25rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: smaller;
            word-wrap: wrap;
            word-break: break-all;
            & span {
                min-height: max-content;
                font-size: small;
                font-weight: normal;
            }
        }
    }
    & .register-actions {
        border-radius: .6rem;
        align-items: center;
        min-width: max-content;
        font-family: Arial, Helvetica, sans-serif;
        & a, button {
            border-radius: .5rem;
            padding: .5rem;
            & svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}
.form-category-create-container {
    margin-block-start: 1.7rem;
}
.form-category-create-container .category-add {
    width: 86%;
    margin: auto;
}
.form-create-container :is(.category-add, .brand-add) {
    display: grid;
    grid-template-columns: .5fr .3fr;
    grid-template-areas:
    "input imagen"
    "textarea boton";
    align-items: start;
    gap: 0;
    justify-content: space-evenly;
    & fieldset, input { min-width: 100%; }
    & .category-field-name {
        grid-area: input;
    }
    & .category-field-description {
        grid-area: textarea;
    }
    & .form-btn {
        grid-area: boton;
        place-self: center;
        min-width: 100%;
    }
}














/*  V E N T A S   /   H I S T O R I A L  */
.curd-history-sales-container {
    /* & .crud-grid-last-sales, .crud-grid-last-sales-history { */
    & .last-sales-history {
        display: flex;
        justify-content: space-between;
        & a {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: large;
            color: goldenrod;
            & svg {
                fill: goldenrod;
                width: 25px;
                height: 25px;
            }
        }
    }
    /* } */
    & .register-frame-sale {
        transition: transform .3s ease;
        /* background-color: #346237; */
        padding: .40rem;
        background-color: #375d3a;
        &:hover {
            transform: scale(105%);
            & .register-link-sale {
                background-color: #fcf4dd;
                color: black;
            }
        }
    }
    & .crud-grid-last-sales, .crud-grid-last-sales-history, .crud-grid-best-sales {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
    }
    & .register-frame-last-sales {
        background-color: #becbd6;
        & .register-link-last-sale:hover {
            background-color: #fcf4dd;
            color: black;
        }
    }
    & .header-last-sale {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        & p {
            max-width: 70px;
        }
        & span { text-align: end; }
    }
    & .sale-history-register-body p {
        font-weight: 700;
        & span { font-weight: 600; }
    }
    & .register-link-last-sale, .register-link-sale, .register-link-best-sales {
        border-radius: .1rem;
    }
    & .crud-grid-best-sales .registers-frames-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    & .best-selling-products-chart {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 2/-1 !important;
        & #best_sellings_products_chart {
            box-shadow: 0 .2rem .5rem 0 black;
            padding: 1rem 3rem;
            background-color:var(--deep-blue-1);
            border-radius: .3rem;
        }
    }
    & .sales-per-period > .sales-charts-grid-period {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 1rem;
        & .sales-chart {
            width: 100%;
            background-color: #3e4c75;
            padding: 1rem;
            /* border-radius: .9rem; */
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 .2rem .5rem 0 black;
            transition: transform .3s ease;
            &:first-of-type { background-color: var(--deep-blue-3); }
            &:nth-of-type(2) { background-color: var(--deep-blue-4); }
            &:nth-of-type(3) { background-color: #10214b; }
            &:last-of-type { background-color: var(--deep-blue-6); }
            &.daily-sales-per-period-chart {
                grid-row: 1 / span 2;
                grid-column: span 1 / -1;
            }
            &:hover {
                z-index: 111;
                border-radius: 0 0 .5rem .5rem;
                box-shadow: 0 .7rem .5rem 0 rgba(0, 0, 0, 0.551);
                transform: scale(105%);
            }
        }
    }
    & .sales-types, .sales-per-period {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    & .sales-types > .sales-per-type-chart {
        background-color: var(--deep-blue-2);
        border-radius: .5rem;
        width: 45%;
        box-shadow: 0 .3rem .3rem 0 gray;
        padding: 2rem;
    }
}










/*  S U C U R S A L E S  */
.form-create-container > .sucursal-create {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}
.form-create-container > .sucursal-create > .form-btn{
    width: 100%;
    grid-column: 1 / -1;
    /* grid-row: 3 / 2; */
    align-self: end;
}
.branches-orders {
    padding: 0 2rem;
    & a {
        display: flex;
        background-color: var(--blue-light);
        width: max-content;
        box-shadow: 0 .2rem .2rem 0 rgba(128, 128, 128, 0.705);
        padding: .5rem 1.5rem;
        color: white;
        border-radius: .4rem;
        font-size: smaller;
        gap: .6rem;
        align-items: center;
        justify-content: center;
        transition: transform .1s ease;
        & svg {
            width: 22px;
            height: 22px;
            fill: #fff;
        }
        &:hover { filter: invert(); }
        &:active { transform: scale(90%); }
    }
}
/*  P E D I D O S    D E   S U C U R S A L E S  */
.branches-orders-container {
    --received-color: #2f00ff;
    --rejected-color: #ff0000;
    --aproved-color: #33db00;
}
.orders-crud {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    grid-template-rows: auto;
}
.order-frame {
    padding: 0 0 .4rem 0;
    gap: 0;
    border-radius: 1rem 1rem 1rem 2rem;
    & .register-details-link {
        border-radius: .8rem 0 0 2rem;
        padding: 1.5rem;
        transition: all .2s ease;
        & .quantities { gap: .5rem; }
        & .order-product ol {
            transition: all .2s ease;
            padding: .4rem 1.5rem;
            border-radius: 0 1rem 0 1rem;
            background-color: var(--hover-color-50);
        }
        & .order-product ol li {
            display: flex;
            justify-content: space-between;
            position: relative;
            padding-left: 1.2em;
            &:not(:first-of-type) p { font-weight: 400; }
            & span { font-size: small; font-style: italic; }
            &:first-of-type { text-transform: capitalize; }
        }
        & .order-product ol li:first-of-type::before {
            content: "•";
            position: absolute;
            left: 0;
            top: -7.5px;
            font-size: 1.2em;
            color: black;
        }
    }
    & .register-actions {
        border-radius: 0 .4rem .4rem 0;
        padding: 1rem;
        & button, a {
            border-radius: .2rem .2rem .2rem .5rem;
        }
    }
}
.recived-order-frame { background-color: var(--received-color); }
.rejected-order-frame { background-color: var(--rejected-color); }
.aproved-order-frame { background-color: var(--aproved-color); }
.order-frame .register-details-link:hover, .register-details-link:hover ~ .register-actions {
    background-color: rgb(248, 241, 248);
    color: black;
    & .order-product ol {
        background-color: #fff;
    }
}
.register-actions { justify-content: center; }










/*  U S U A R I O S  */
.user-header-info :is(span, p) {
    text-transform: capitalize;
}










/*  G U I A   D E   C O L O R E S   P A R A   L O S   S T A T U S  */
.status-colors {
    width: 100%;
    display: flex;
    gap: 4rem;
    font-weight: 500;
}
.status {
    display: flex;
    gap: .5rem;
    align-items: center;
    & .status-circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        & div {
            width: 15px;
            border-radius: 50%;
            height: 15px;
        }
    }
    /* INCIDENCIAS */
    & .pending-incident-circle { border: 3px solid var(--pending-color); & > div { background-color: var(--pending-color); } }
    & .resolved-incident-circle { border: 3px solid var(--resolved-color); & > div { background-color: var(--resolved-color); } }
    & .in-progress-incident-circle { border: 3px solid var(--in-progress-color); & > div { background-color: var(--in-progress-color); } }

    /* PEDIDOS SUCURSALES */
    & .order-received-circle { border: 3px solid var(--received-color); & > div { background-color: var(--received-color); } }
    & .order-rejected-circle { border: 3px solid var(--rejected-color); & > div { background-color: var(--rejected-color); } }
    & .order-aproved-circle { border: 3px solid var(--aproved-color); & > div { background-color: var(--aproved-color); } }
}










/*  I N C I D E N C I A S  */
.incidences-container {
    --pending-color: rgba(172, 26, 26, 0.554);
    --in-progress-color: rgb(218, 165, 32);
    --resolved-color: hsla(215, 55%, 53%, 0.559);
}
.incidences-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: .5rem;
    & .register-frame {
        padding: .2rem;
        max-height: max-content;
        /* box-shadow: none; */
        transition: border-radius .2s ease;
        &.resolved { background-color: var(--resolved-color); }
        &.progress { background-color: var(--in-progress-color); }
        &.pending { background-color: var(--pending-color); }
        & .register-details-link {
            border-radius: 2rem;
            padding: 1.5rem;
            & .register-details {
                height: 100%;
                justify-content: start;
                & .body-register {
                    height: inherit;
                }
            }
            &:hover {
                background-color: #faf7f7;
                color: #111;
            }
        }
        & .incidence-details {
            display: flex;
            flex-direction: column;
            height: inherit;
            justify-content: space-between;
            & > p:first-of-type {
                text-align: start;
                align-items: start;
                gap: .2rem;
                margin-block-end: 1rem;
                line-height: 1.5rem;
                max-height: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 8;
                -webkit-box-orient: vertical;
                & span {
                    font-style: normal;
                    text-transform: uppercase;
                    text-decoration: underline;
                }
            }
        }
        &:hover {
            border-radius: 2rem;
        }
    }
}
