@import url(fonts.css);
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */


:root {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    --primary-color: #1f73c6;
    --secondary-color: #132d61;
    --deep-blue-1: #101729;
    --deep-blue-2: #0f172a;
    --deep-blue-3: #1e2c4f;
    --deep-blue-4: #2d437a;
    --deep-blue-5: #051131;
    --deep-blue-6: #34436e;
    --save-color: #e69915;
    --hover-color-100: #c0c8cf;
    --hover-color-75: #dce1e7b6;
    --hover-color-50: #dce1e78a;
    --bg-color: #f8f8f8;
    --header-height: 70px;
    --sidebar-width: 250px;
}




/* L A Y O U T */
body {
    display: grid;
    grid-template-areas:
    "nav nav"
    "sidebar main"
    "sidebar main";
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) 1fr;
    min-height: 100vh;
    position: relative;
    background-color: var(--bg-color);
    transition: grid .3s ease;
}




/*  M A I N  */
.main-content {
    grid-area: main;
    padding: 1rem;
}





/*  H E A D E R  */
.header {
    grid-area: nav;
    z-index: 1000;
    box-shadow: 0 .05rem .05rem 0 rgba(128, 128, 128, 0.64);
    position: sticky;
    top: 0;
}
.navbar, .brand-logo, .nav-links-container, .nav-links-list, .nav-links-list li > a, li > form, .profile-access > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.navbar {
    width: 100%;
    padding: .3rem 3rem;
    background-color: #fff;
    justify-content: space-between;
    & .brand-logo {
        border-radius: .2rem;
        & img {
            border-radius: .2rem;
            object-fit: contain;
            object-position: center;
            height: calc(var(--header-height) - 5px);
            min-width: max-content;
        }
    }
}
.nav-links-container {
    gap: 2rem;
}
.nav-links-list {
    gap: 2rem;
    & li > a, li > form {
        gap: .5rem;
        text-transform: capitalize;
        &.active {
            color: var(--primary-color);
            & svg {
                fill: var(--primary-color);
            }
        }
        & svg {
            fill: #111;
            width: 25px;
            height: 25px;
        }
        &:hover {
            color: var(--primary-color);
            & svg {
                fill: var(--primary-color);
            }
        }
    }
}

.profile-access > a {
    width: 100%;
    border-radius: .3rem;
    & img {
        height: 55px;
        width: 55px;
        min-width: 40px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
}




/*  S I D E B A R  */
.sidebar-container {
    grid-area: sidebar;
    background-color:var(--deep-blue-1);
    position: fixed;
    left: 0;
    top: var(--header-height);
    height: 100%;
    width: var(--sidebar-width);
    overflow-y: auto;
    /* direction: rtl; */
    /* writing-mode: vertical-rl; */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    .minimize {
        position: sticky;
        top: 20px;
        right: 3%;
        place-self: end;
        display: flex;
        cursor: pointer;
        justify-content: center;
        padding: .5rem;
        border-radius: 30%;
        /* background-color: #021741; */
        /* box-shadow: 0 .2rem .3rem 0 rgba(128, 128, 128, 0.485); */
        & svg {
            fill: #fff;
            width: 21px;
            height: 21px;
        }
        &:hover {
            filter: invert();
            & svg { fill: var(--primary-color); }
        }
    }
}
.sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-block-end: 5rem;
    padding-inline: .2rem;
}
.date {
    position: absolute;
    top: 20px;
    left: 0;
    width: calc(100% - 50px);
    padding: 0 .5rem;
    text-align: end;
    text-transform: capitalize;
    font-size: smaller;
    font-weight: 600;
    color: #fff;
    font-weight: 700;
}
.sidebar-links-container, .sidebar-links, .sidebar-links-list{ height: inherit; }
.sidebar-links-container { margin-block-start: 4rem; }
.sidebar-links-list {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding-block-end: 1rem;
    & li a {
        padding: .9rem 1rem;
        /* background-color: #fde8be; */
        background-color:var(--deep-blue-1);
        border-radius: .85rem;
        color: #fff;
        text-transform: capitalize;
        font-size: large;
        display: flex;
        box-shadow: 0 0 .09rem 0 white;
        gap: 3rem;
        transition: transform .2s ease;
        &.active {
            filter: invert();
            transform: scale(95%);
        }
        & svg {
            width: 25px;
            height: 25px;
            fill: #fff;
        }
        &:hover {
            filter: invert();
            transform: scale(95%);
            /* background-color: #000; */
        }
    }
}





/*  D A S H B O A R D  */
/* .dashboard-container {
    padding: 1rem;
} */





/*  I N V E N T A R I O  */
.crud-container, .crud-header, .inventory-content {
    display: flex;
    flex-direction: column;
}
.inventory-content {
    padding: 2rem 1rem;
    gap: .8rem;
    & select, input{
        background-color: #fff;
        box-shadow: 0 .2rem .3rem 0 rgba(128, 128, 128, 0.151);
        border: none;
        outline: none;
        border-radius: .4rem;
        padding: .6rem 1.2rem;
    }
}
.crud-container {
    height: 100%;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: .8rem;
    gap: 3rem;
    & h2 {
        color: #111;
        grid-column: 1 / -1;
        font-size: x-large;
        font-weight: 700;
    }
    & .crud-grid > .chart {
        grid-column: 1 / -1;
        color: #111;
    }
}
.crud-top-header, .crud-middle-header, .crud-middle-header > .details, .crud-bottom-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.crud-header {
    gap: 3rem;
    & .crud-top-header {
        & .crud-tittle {
            display: flex;
            flex-direction: column;
            gap: .7rem;
            & h1 {
                text-transform: capitalize;
                font-weight: 700;
                font-size: x-large;
            }
            & p {
                font-size: large;
            }
        }
        & .crud-add-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: .6rem;
            background-color:var(--deep-blue-2);
            color: #fff;
            padding: .6rem 1.2rem;
            border-radius: .4rem;
            box-shadow: 0 .2rem .3rem 0 rgba(128, 128, 128, 0.151);
            & svg{
                fill: white;
                width: 25px;
                height: 25px;
            }
            &:hover { filter: invert(); }
        }
    }
    & .crud-middle-header {
        box-shadow: 0 .05rem 0 0 rgba(128, 128, 128, 0.401);
        & .details {
            padding-block-end: .6rem;
            justify-content: baseline;
            & .summary {
                /* max-width: 100%; */
                min-width: 200px;
                padding: 0 1.5rem 1rem 1.5rem;
                box-shadow: .08rem 0 0 0 rgba(128, 128, 128, 0.401);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 110px;
                /* min-width: max-content; */
                &:last-of-type { box-shadow: none; }
                &:first-of-type { padding-inline-start: 0; flex-shrink: 2; }
                &:nth-of-type(2) { flex-shrink: 2;  }
                & p {
                    display: block;
                    font-size: 1.1rem;
                }
                & span {
                    display: block;
                    color: var(--primary-color);
                    font-weight: 900;
                    font-size: xx-large;
                }
            }
        }
    }
    & .crud-bottom-header {
        gap: 2rem;
        & .delete-all-form, .crud-searcher {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        & .delete-all-form > input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }
        & .crud-searcher {
            width: 50%;
            gap: 0;
            & input {
                width: 100%;
            }
            & button {
                height: 100%;
                padding: .5rem;
                border-radius: 0 .4rem .4rem 0;
                background-color: #252f3f;
                & svg {
                    fill: #fff;
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}
.crud-grid {
    width: 100%;
    height: 100%;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: auto;
    gap: 1rem;
}
.register-frame {
    padding: 1rem;
    border-radius: .7rem;
    background-color: #0c1220;
    display: flex;
    gap: .6rem;
    justify-content: space-between;
    box-shadow: 0 .2rem .2rem 0 rgba(128,128,128,0.850);
}
.register-details-link {
    width: 100%;
    padding: .5rem 1rem;
    border-radius: .7rem 0 0 .7rem;
    background-color: #fff;
    color: #111;
    font-family: 'Montserrat';
    &:hover {
        background-color: #3e4c75;
        color: #fff;
    }
}
.register-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .7rem;
}
.header-register {
    & p, span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 300px;
        /* width: 100%; */
    }
    & p { font-weight: 700; }
    & span {
        display: block;
        font-size: small;
        text-transform: uppercase;
    }
}
.body-register {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    & img {
        background-color: #fff;
        width: 60px;
        height: 60px;
        object-fit: cover;
        object-position: center;
        border-radius: .5rem;
    }
    & .quantities {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: .2rem;
        & p {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: small;
            font-weight: 600;
            gap: 1rem;
            & span {
                font-style: italic;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 170px;
                /* width: 100%; */
                text-align: end;
            }
        }
        & .created_at_date span { text-transform: capitalize; }
    }
}
.register-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0 1rem 1rem 0;
    padding: .5rem;
    flex-wrap: wrap;
    & a, .destroy-btn > button, .aproved-btn > button {
        display: flex;
        justify-content: space-between;
        gap: .4rem;
        cursor: pointer;
        font-weight: 600;
        border-radius: 0 .7rem .7rem 0;
        text-transform: capitalize;
        padding: .5rem 1rem;
        &:hover {
            filter: invert();
        }
    }
    & a {
        background-color: #1f73c6;
    }
    & .destroy-btn > button {
        background-color: #d42222;
    }
    & .aproved-btn > button {
        background-color: #01ad0a;
    }
}

/*  A G R E A G A R    P R O D U C T O  */
.form-create-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & h1 {
        text-align: start;
        text-transform: capitalize;
        font-size: x-large;
        font-weight: 600;
        background-color: #fff;
        box-shadow: 0 0 .1rem 0 rgba(128, 128, 128, 0.689);
        border-radius: .3rem;
        padding: .3rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & svg {
            width: 40px;
            height: 40px;
            fill: #111;
        }
    }
    & .form-create {
        padding: 2rem;
        background-color: #fff;
        height: 100%;
        border-radius: .3rem;
        box-shadow: 0 0 .1rem 0 rgba(128, 128, 128, 0.689);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        /* grid-auto-rows: minmax(auto, max-content); */
        grid-auto-flow: row;
        gap: 3rem 2rem;
        & fieldset {
            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: 1rem;
            & p {
                font-size: small;
                color: rgb(235, 26, 26);
            }
            & legend {
                font-weight: 600;
                color: rgb(102, 97, 97);
            }
            & .type_sales, .type_sales > div {
                display: flex;
                gap: 1rem;
                justify-content: start;
                align-items: center;
                & input {
                    width: 18px;
                    height: 18px;
                }
            }
            & .type_sales > div { gap: .3rem; }
        }
        & .field-select {
            grid-column-start: 1;
            grid-column-end: -1;
            & select { width: 100%; }
        }
        & input[type="text"], input[type="date"], input[type="file"], select {
            border-radius: .3rem;
            padding: .6rem;
            border: none;
            outline: none;
            box-shadow: 0 0 .1rem 0 rgb(110, 110, 110);
            &::placeholder {
                color: var(--hover-color-100);
            }
            &:focus {
                box-shadow: none;
                border-inline-start: .3rem solid rgba(128, 128, 128, 0.685);
            }
        }
        & .form-btn {
            gap: .5rem;
            grid-column: -2 / -1;
            /* grid-row-start: -1; */
            /* grid-row-end: -1; */
            align-self: end;
            margin-top: auto;
            cursor: pointer;
            background-color:var(--deep-blue-2);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: larger;
            text-transform: capitalize;
            color: #fff;
            padding: .5rem 0;
            border-radius: .5rem;
            letter-spacing: .1rem;
            & svg {
                fill: #fff;
                width: 25px;
                height: 25px;
            }
            &:hover{
                filter: invert();
            }
        }
        & .image-upload-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            border: 2px dashed #ccc;
            padding: 15px;
            text-align: center;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s;
            &:hover { border-color: #007bff; }
            & input { display: none; }
            & img {
                max-width: 100px;
                max-height: 100px;
                object-fit: cover;
                border-radius: 5px;
                display: none;
            }
        }
        & .upload-label {
            font-size: 16px;
            color: #007bff;
            cursor: pointer;
        }
    }
}

/*  E D I T A R    P R O D  U C T O  */







/*  V E N T A S   /   H I S T O R I A L  */
.crud-container {
    & .crud-grid-last-sales, .crud-grid-last-sales-history {
        & .last-sales-history {
            grid-column: 1 / -1;
            display: flex;
            justify-content: space-between;
            & a {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: large;
                color: goldenrod;
                & svg {
                    fill: goldenrod;
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
    & .register-frame-sale {
        transition: transform .3s ease;
        /* background-color: #346237; */
        padding: .40rem;
        background-color: #375d3a;
        &:hover {
            transform: scale(105%);
            & .register-link-sale {
                background-color: #fcf4dd;
                color: black;
            }
        }
    }
    & .crud-grid-last-sales, .crud-grid-last-sales-history, .crud-grid-best-sales {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
        align-items: center;
    }
    & .register-frame-last-sales {
        background-color: #becbd6;
        & .register-link-last-sale:hover {
            background-color: #fcf4dd;
            color: black;
        }
    }
    & .header-last-sale {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        & p {
            max-width: 70px;
        }
        & span { text-align: end; }
    }
    & .sale-history-register-body p {
        font-weight: 700;
        & span { font-weight: 600; }
    }
    & .register-link-last-sale, .register-link-sale, .register-link-best-sales {
        border-radius: .6rem;
    }
    & .crud-grid-best-sales .registers-frames-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    & .best-selling-products-chart {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 2/-1 !important;
        & #best_sellings_products_chart {
            box-shadow: 0 .2rem .5rem 0 black;
            padding: 1rem 3rem;
            background-color:var(--deep-blue-1);
            border-radius: .3rem;
        }
    }
    & .sales-per-period > .sales-charts-grid-period {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 1rem;
        & .sales-chart {
            width: 100%;
            background-color: #3e4c75;
            padding: 1rem;
            /* border-radius: .9rem; */
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 .2rem .5rem 0 black;
            transition: transform .3s ease;
            &:first-of-type { background-color: var(--deep-blue-3); }
            &:nth-of-type(2) { background-color: var(--deep-blue-4); }
            &:nth-of-type(3) { background-color: #10214b; }
            &:last-of-type { background-color: var(--deep-blue-6); }
            &.daily-sales-per-period-chart {
                grid-row: 1 / span 2;
                grid-column: span 1 / -1;
            }
            &:hover {
                z-index: 111;
                border-radius: 0 0 .5rem .5rem;
                box-shadow: 0 .7rem .5rem 0 rgba(0, 0, 0, 0.551);
                transform: scale(105%);
            }
        }
    }
    & .sales-types, .sales-per-period {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    & .sales-types > .sales-per-type-chart {
        background-color: var(--deep-blue-2);
        border-radius: .5rem;
        width: 45%;
        box-shadow: 0 .3rem .3rem 0 gray;
        padding: 2rem;
    }
}







/*  S U C U R S A L E S  */
.form-create-container > .sucursal-create {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}
.form-create-container > .sucursal-create > .form-btn{
    width: 100%;
    grid-column: 1 / -1;
    /* grid-row: 3 / 2; */
    align-self: end;
}
.branches-orders {
    padding: 0 2rem;
    & a {
        display: flex;
        background-color: #007bff;
        width: max-content;
        box-shadow: 0 .2rem .2rem 0 rgba(128, 128, 128, 0.705);
        padding: .5rem 1.5rem;
        color: white;
        border-radius: .4rem;
        font-size: large;
        gap: .6rem;
        align-items: center;
        justify-content: center;
        transition: transform .1s ease;
        & svg {
            width: 25px;
            height: 25px;
            fill: #fff;
        }
        &:hover { filter: invert(); }
        &:active { transform: scale(90%); }
    }
}
/*  P E D I D O S    D E   S U C U R S A L E S  */
.branches-orders-container {
    --received-color: #2f00ff;
    --rejected-color: #ff0000;
    --aproved-color: #33db00;
}
.orders-crud {
    grid-template-columns: 1fr;
    gap: 1.5rem;
}
.order-frame {
    padding: 0 0 .4rem 0;
    gap: 0;
    border-radius: 1rem 1rem 1rem 2rem;
    & .register-details-link {
        border-radius: .8rem 0 0 2rem;
        padding: 1.5rem;
        transition: all .2s ease;
        & .quantities { gap: .5rem; }
        & .order-product ol {
            transition: all .2s ease;
            padding: .4rem 1.5rem;
            border-radius: 0 1rem 0 1rem;
            background-color: var(--hover-color-50);
        }
        & .order-product ol li {
            display: flex;
            justify-content: space-between;
            position: relative;
            padding-left: 1.2em;
            &:not(:first-of-type) p { font-weight: 400; }
            & span { font-size: small; font-style: italic; }
            &:first-of-type { text-transform: capitalize; }
        }
        & .order-product ol li:first-of-type::before {
            content: "•";
            position: absolute;
            left: 0;
            top: -7.5px;
            font-size: 1.2em;
            color: black;
        }
    }
    & .register-actions {
        border-radius: 0 .4rem .4rem 0;
        padding: 1rem;
        & button, a {
            border-radius: .2rem .2rem .2rem .5rem;
        }
    }
}
.recived-order-frame { background-color: var(--received-color); }
.rejected-order-frame { background-color: var(--rejected-color); }
.aproved-order-frame { background-color: var(--aproved-color); }
.register-details-link:hover, .register-details-link:hover ~ .register-actions {
    background-color: rgb(248, 241, 248);
    color: black;
    & .order-product ol {
        background-color: #fff;
    }
}
.register-actions { justify-content: center; gap: 1rem; }






/*  U S U A R I O S  */
.user-header-info :is(span, p) {
    text-transform: capitalize;
}










/*  G U I A   D E   C O L O R E S   P A R A   L O S   S T A T U S  */
.status-colors {
    width: 100%;
    display: flex;
    gap: 4rem;
    font-weight: 500;
}
.status {
    display: flex;
    gap: .5rem;
    align-items: center;
    & .status-circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        & div {
            width: 15px;
            border-radius: 50%;
            height: 15px;
        }
    }
    /* INCIDENCIAS */
    & .pending-incident-circle { border: 3px solid var(--pending-color); & > div { background-color: var(--pending-color); } }
    & .resolved-incident-circle { border: 3px solid var(--resolved-color); & > div { background-color: var(--resolved-color); } }
    & .in-progress-incident-circle { border: 3px solid var(--in-progress-color); & > div { background-color: var(--in-progress-color); } }

    /* PEDIDOS SUCURSALES */
    & .order-received-circle { border: 3px solid var(--received-color); & > div { background-color: var(--received-color); } }
    & .order-rejected-circle { border: 3px solid var(--rejected-color); & > div { background-color: var(--rejected-color); } }
    & .order-aproved-circle { border: 3px solid var(--aproved-color); & > div { background-color: var(--aproved-color); } }
}







/*  I N C I D E N C I A S  */
.incidences-container {
    --pending-color: rgba(172, 26, 26, 0.554);
    --in-progress-color: rgb(218, 165, 32);
    --resolved-color: hsla(215, 55%, 53%, 0.559);
}
.incidences-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: .5rem;
    & .register-frame {
        border-radius: 2rem;
        padding: .2rem;
        max-height: max-content;
        box-shadow: none;
        &.resolved { background-color: var(--resolved-color); }
        &.progress { background-color: var(--in-progress-color); }
        &.pending { background-color: var(--pending-color); }
        & .register-details-link {
            border-radius: 2rem;
            padding: 1.5rem;
            & .register-details {
                height: 100%;
                justify-content: start;
                & .body-register {
                    height: inherit;
                }
            }
            &:hover {
                background-color: #faf7f7;
                color: #111;
            }
        }
        & .incidence-details {
            display: flex;
            flex-direction: column;
            height: inherit;
            justify-content: space-between;
            & > p:first-of-type {
                text-align: start;
                align-items: start;
                gap: .2rem;
                margin-block-end: 1rem;
                line-height: 1.5rem;
                max-height: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 8;
                -webkit-box-orient: vertical;
                & span {
                    font-style: normal;
                    text-transform: uppercase;
                    text-decoration: underline;
                }
            }
        }
    }
}
