/* @import url(fonts.css); */
@import "tailwindcss";
@tailwind utilities;

:root {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #263050 white;
    --primary-color: #1f73c6;
    --secondary-color: #132d61;
    --deep-blue-1: #101729;
    --deep-blue-2: #0f172a;
    --deep-blue-3: #1e2c4f;
    --deep-blue-4: #2d437a;
    --deep-blue-5: #051131;
    --deep-blue-6: #34436e;
    --deep-blue-7: #101218;
    --save-color: #e69915;
    --hover-color-100: #c0c8cf;
    --hover-color-75: #dce1e7b6;
    --hover-color-50: #dce1e78a;
    --bg-color: #f8f8f8;

    --header-height: 40px;
    --sidebar-width: 70px;
    --summary-height: 60px;

    & ::selection {
        background-color: #435385;
        color: white;
    }

    & p,body,div,span,a,button,select, * {
        font-family: 'Bitter';
    }
}

textarea {
    field-sizing: content;
}






/*  S W E E T     A L E R T S  */
.colored-toast { font-size: .87rem; max-width: max-content !important; }
.colored-toast.swal2-icon-success { background-color: #9cd37d !important; }
.colored-toast.swal2-icon-warning { background-color: #5c9e61 !important; }
.colored-toast.swal2-icon-error { background-color: #ee4130 !important; }
.colored-toast.swal2-icon-info { background-color: #d67636 !important; }
.colored-toast.swal2-icon-question { background-color: #7ea6b8 !important; }
.colored-toast .swal2-title { color: white; }
.colored-toast .swal2-close { color: white; }
.colored-toast .swal2-html-container { color: white; }
.swal-custom-btn {
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 .2rem .1rem 0 rgba(0, 0, 0, 0.197) !important;
    span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: large;
    }
    svg {
        width: 20px;
        height: 20px;
        fill: white;
    }
}
.swal-pay-btn { background-color: #00bd5f !important; margin-inline-end: 9rem !important; }
.swal-cancel-btn { background-color: rgba(255, 0, 0, 0.801) !important; }
.swal-custom-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* background-color: #fff; */
    padding: 2rem;
    /* border-radius: .8rem; */
    /* box-shadow: 0 .2rem .1rem 0 rgba(0, 0, 0, 0.197); */
    legend, h2   {
        font-size: larger;
        font-weight: 700;
    }
}









/*  L A Y O U T    S E L L E R  */
body {
    display: grid;
    grid-template-areas:
    "nav nav"
    "main main";
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) 1fr;
    /* background-color: var(--hover-color-50); */
    background-color: #e4e5e7;
    background-color: #dee2e5;
}










/*  N A V    B A R  */
.header {
    grid-area: nav;
    background-color: #fff;
    font-size: small;
    & img { max-height: calc(var(--header-height) - 10px); }
    & svg { fill: #111;  width: 20px; height: 20px; }
}

.navbar, .brand-logo-sidebar-button, .nav-links-container, .nav-links-list, .nav-links-list > li :is(a, form), .profile-access
{ display: flex; align-items: center; justify-content: space-between; }

.nav-links-list a, .nav-links-list form { gap: .6rem; }
.navbar {
    padding: 0 3rem;
    padding-inline-start: 2rem;
    height: 100%;
}
.brand-logo-sidebar-button {
    min-height: 100%;
    width: 50px;
    gap: 3rem;
    padding: .5rem;
    & button {
        cursor: pointer;
        &:hover svg { fill: var(--primary-color); }
    }
    & img {
        min-height: var(--header-height);
        min-width: 100%;
        object-fit: contain;
        object-position: center;
    }
}
.nav-links-container {
    gap: 2rem;
    text-transform: capitalize;
    & .nav-links-list {
        gap: 1.3rem;
        & li :is(a, .logout-form, button) { cursor: pointer; &:hover { color: var(--primary-color); & svg { fill: var(--primary-color); } } }
        & .active { color: var(--primary-color); & svg { fill: var(--primary-color); } }
    }
    & .profile-access {
        display: flex;
        gap: .5rem;
    }
}







/*  S I D E B AR  */
.sidebar-content {
    display: none;
    flex-direction: column;
    grid-area: sidebar;
    box-shadow: .05rem 0 .1rem 0 rgba(128, 128, 128, 0.444);
    width: var(--sidebar-width);
    height: 100%;
    background-color: #fff;
    scrollbar-width: thin;
    scrollbar-color: var(--hover-color-50) transparent;
    position: fixed;
    overflow-y: scroll;
    left: 0;
    top: 0;
    z-index: 100;
}
.collapsed-expanded-buttons {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: sticky;
    top: 0;
    max-width: max-content;
    right: 0;
    place-self: end;
    justify-self: end;
}
.sidebar-full {
    position: relative;
    background-color: #fff;
    height: 100%;
    display: none;
    flex-direction: column;
    /* gap: 2em; */
    padding: .5rem .3rem 2rem .3rem;
}
.sidebar-full.visible { display: flex; }
.minimize {
    position: sticky;
    place-self: end;
    display: flex;
    cursor: pointer;
    justify-content: center;
    background-color: white;
    border-radius: .4rem;
    /* box-shadow: 0 .2rem .3rem 0 rgba(128, 128, 128, 0.485); */
    & svg {
        fill: #111;
        width: 21px;
        height: 21px;
    }
    &:hover svg { fill: var(--primary-color); }
}
.admin-profile-access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    & .admin-picture {
        background-color: #cdd2d862;
        height: 70px;
        width: 70px;
        box-shadow: 0 .2rem .3rem 0 rgba(128, 128, 128, 0.651);
        border-radius: 20%;
        padding: .3rem;
        & img  {
            border-radius: 20%;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    & h2 {
        font-size: smaller;
        text-transform: capitalize;
        font-weight: 500;
    }
}
.date-name-branch {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin-block: 2em;
    gap: 1rem;
    & strong { text-transform: capitalize; font-size: .75rem; }
    & h1 {
        color: #111;
        font-weight: 900;
        line-height: 2rem;
    }
}
.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding-block-end: 2rem;
    & details {
        & summary {
            border-radius: .5rem;
            font-weight: 500;
            padding: .7rem 1rem;
            list-style: none;
            display: flex;
            justify-content: space-between;
            min-width: 100%;
            text-transform: capitalize;
            background-color: aliceblue;
            transition: transform .2s ease;
            align-items: center;
            &::after {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23111111'%3E%3Cpath d='M480-80 240-320l57-57 183 183 183-183 57 57L480-80ZM298-584l-58-56 240-240 240 240-58 56-182-182-182 182Z'/%3E%3C/svg%3E");
            }
            &:hover { transform: scale(95%); }
        }
        & .links {
            display: flex;
            flex-direction: column;
        }
        & .links > a {
            display: flex;
            padding: .5rem 1rem;
            border-radius: .5rem;
            gap: .4rem;
            font-weight: 600;
            text-transform: capitalize;
            color: #111;
            & svg { fill: #111; min-width: 25px; min-height: 25px; max-width: 25px; max-height: 25px; }
            &:first-of-type, &:nth-of-type(2), &:nth-of-type(3) {
                border-radius: 0;
            }
            &:last-of-type {
                border-radius: 0 0 .5rem .5rem;
            }
        }
        &[open] a:hover {
            background-color: var(--hover-color-75);
        }
        &:hover > summary, &[open] > summary {
            /* background-color: var(--hover-color-100); */
            background-color: #a6afb8f5;
            color: white;
            &::after {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23ffffff'%3E%3Cpath d='m480-320 160-160-160-160-56 56 64 64H320v80h168l-64 64 56 56Zm0 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'/%3E%3C/svg%3E");
            }
        }
        &[open] > summary {
            background-color: #9ca5aff5;
            &::after {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e8eaed'%3E%3Cpath d='M440-440v240h-80v-160H200v-80h240Zm160-320v160h160v80H520v-240h80Z'/%3E%3C/svg%3E");
            }
        }
    }
}

/* S I D E B A R     M I N I M I Z E D  */
.sidebar-minimized {
    z-index: 100;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: .5rem 0;
    & .sidebar-links {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 2.5rem 0 2rem .5rem;
        gap: 1rem;
        & .link {
            /* background-color: aliceblue; */
            border-radius: .3rem;
            padding: .7rem .5rem;
            transition: transform .3s ease;
            & svg {
                margin: auto;
                fill: #111;
                width: 30px;
                height: 30px;
            }
            &:hover {
                /* background-color: var(--hover-color-100); */
                background-color: #9ca5aff5;
                transform: scale(85%);
                & svg { fill: white; }
            }
        }
    }
}
.sidebar-minimized.minimized { display: none; }










/*  M A I N   C O N T E N T  */
.main-content {
    grid-area: main;
}










/*  D A S H B A O R D  */
.registers-empty {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(0, 0, 0, 0.815);
    font-weight: bolder;
    min-height: 300px;
    gap: 1rem;
    letter-spacing: .15rem;
    text-align: center;
    & svg {
        filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.6));
        width: 45px;
        height: 45px;
        fill: #11111157;
    }
}

.denedig-logo {
    width: 100%;
    min-height: 100%;
    padding: 1rem;
    display: flex;
    gap: .7rem;
    align-items: center;
    justify-content: center;
    & img {
        filter: drop-shadow(0 .9rem .1rem rgba(128,128,128, 0.938));
        opacity: 95%;
        width: 40px;
        &:last-of-type {
            width: 123px;
        }
    }
}

.seller-dashboard, .point-of-sale-grid-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.point-of-sale-grid-container {
    padding: 1rem;
    display: grid;
    height: 100%;
    grid-template-areas:
    "details resize list"
    "summary summary summary";
    gap: .7rem .4rem;
    grid-template-columns: .7fr 4px 1fr;
    grid-template-rows: 1fr var(--summary-height);

}
.sale-details-container, .searcher-products-list-container {
    max-height: calc(100vh - 3rem - var(--header-height) - var(--summary-height));
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.178) white;
    padding: 1.5rem;
}
.sale-details-container, .searcher-products-list-container, .sale-summary-container {
    background-color: #fff;
    border-radius: .5rem;
    /* box-shadow: 0 .2rem .2rem 0 rgba(128, 128, 128, 0.341); */
}

.sale-details-container, .sale-details ul, .sale-product-details, .sale-product-body {
    display: flex;
    flex-direction: column;
}
.sale-details-container {
    grid-area: details;
    gap: 1rem;
    box-shadow: 0 0 .1rem 0 gray;
    overflow-y: hidden;
    & h1 {
        font-size: xx-large;
        display: flex;
        gap: .3rem;
        /* justify-content: space-between; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        & span svg {
            width: 30px;
            height: 30px;
            fill: #999ca0;
        }
    }
    & .sale-details {
        font-size: .8rem;
        flex-grow: 1;
        overflow-y: auto;
        padding: 1rem .5rem;
        & ul {
            gap: 1rem;
            height: 100%;
            & .seid-logo {
                display: flex;
                gap: 2rem;
                text-align: center;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: auto;
            }
            & .seid-letter {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 5rem;
                font-weight: bolder;
                color: #f3f6f9f9;
                & span {
                    filter: drop-shadow(.4rem .1rem 0 rgba(164, 61, 248, 0.158));
                }
            }
        }
        & ul li {
            border-block-end: 1px solid rgba(128, 128, 128, 0.516);;
            padding-block-end: .6rem;
        }
    }
    .sale-product-details {
        gap: .5rem;
    }
    & .sale-product-details div {
        gap: .4rem;
        border-radius: 0.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #f0e5e556;
        box-shadow: 0 0 .1rem 0 gray;
        & span {
            font-weight: 500;
            font-style: italic;
            min-width: max-content;
        }
        &.sale-product-header {
            padding: .3rem .8rem;
            gap: 1rem;
            & p { text-transform: capitalize; }
        }
        &.sale-product-body {
            background-color: transparent;
            box-shadow: none;
            & div {
                padding: .3rem .8rem;
            }
        }
        &.add-discount-remove-btns {
            padding-inline: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: transparent;
            box-shadow: none;
            & button {
                cursor: pointer;
            }
            & .add-remove-btns {
                box-shadow: none;
                min-width: max-content;
                max-width: max-content;
                background-color: transparent;
                display: flex;
                gap: 1rem;
                align-items: center;
            }
        }
    }
}
.resizer {
    border-radius: .5rem;
    top: 1%;
    height: 98%;
    background: rgba(41, 42, 44, 0.117);
    cursor: ew-resize;
    position: relative;
    grid-area: resize;
    &:hover { background-color: rgba(41, 42, 44, 0.277); }
    &:active { background-color: rgba(41, 42, 44, 0.377); }
}
.searcher-products-list-container, .products-list, .content-product-found {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.searcher-products-list-container {
    grid-area: list;
    background-color: transparent;
    & .searcher {
        display: flex;
        position: sticky;
        top: 0;
        align-items: center;
        box-shadow: 0 0 .1rem 0 rgba(128, 128, 128, 1);
        border-radius: .5rem;
        & div { flex-grow: 1; height: -webkit-fill-available; }
        & input {
            outline: none;
            border: none;
            display: flex;
            align-items: center;
            font-size: smaller;
            background-color: #fff;
            width: 100%;
            position: relative;
            padding: .5rem .7rem;
            font-style: italic;
            text-transform: capitalize;
            font-weight: 300;
            &:first-of-type {
                border-radius: .5rem 0 0 .5rem;
            }
            &.disabled {
                background-color: #d4d4d4;
                pointer-events: none;
            }
            &::placeholder {
                top: 28%;
                position: absolute;
                font-weight: 400;
                min-height: 100%;
            }
            &:focus {
                background-color: #eceef2;
                /* border-radius: .5rem; */
                /* & ~ span {
                    border-radius: 0 .5rem .5rem 0;
                } */
            }
            &:focus.success {
                background-color: #1bd954;
                color: white;
                &::placeholder {
                    color: white;
                }
            }
            &:focus.error {
                background-color: #d92a1b;
                color: white;
                &::placeholder {
                    color: white;
                }
            }
        }
        & span {
            padding-inline: 1rem;
            min-height: 100%;
            min-width: 80px;
            max-width: max-content;
            /* position: absolute; */
            right: 0;
            border-radius: 0 .5rem .5rem 0;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            & svg {
                height: 30px;
                width: 30px;
                fill: var(--primary-color);
                /* fill: gray; */
            }
        }
        &:focus-within { box-shadow: 0 0 .1rem 0 rgb(0, 0, 0); }
    }
    & .products-list {
        justify-content: center;
        align-content: center;
        gap: .7rem;
        height: max-content;
        flex-grow: 1;
    }
    /* P R O D U C T O */
    & .content-product-found {
        padding: 1.2rem 2rem;
        border-radius: 1rem;
        background-color: #fff;
        color: #111;
        box-shadow: 0 .2rem .15rem 0 rgba(115, 115, 115, 0.25);
        transition: all .22s ease;
        & .product-header {
            display: grid;
            grid-template-columns: 60px 1fr auto;
            grid-template-rows: auto;
            gap: 0 1.5rem;
            align-items: center;
            & .product-name,.add-remove-btns { display: flex; align-items: center; justify-content: space-between; }
            & .product-img img {
                box-shadow: 0 .2rem .2rem 0 lightgray;
                border-radius: .3rem;
                object-fit: contain;
                object-position: center;
            }
            & .product-name {
                flex: 1;
                min-width: 0;
                flex-direction: column;
                align-items: start;
                gap: .55rem;
                & p {
                    text-transform: capitalize;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                }
                & span { font-weight: 600; min-width: max-content; }
            }
            & .add-remove-btns {
                display: flex;
                gap: .6rem;
                & button {
                    cursor: pointer;
                    background-color: var(--hover-color-100);
                    border-radius: 50%;
                    padding: .2rem;
                    font-size: .72rem;
                    &:hover { background-color: var(--hover-color-75); }
                }
                & input {
                    width: 60px;
                    text-align: center;
                    box-shadow: 0 0 .15rem 0 rgb(128, 128, 128);
                    outline: none;
                    border: none;
                    border-radius: 1rem;
                    padding: .3rem 0;
                    background-color: white;
                    &:focus {
                        box-shadow: 0 0 0 .1rem rgba(128, 128, 128, 0.568);
                    }
                }
            }
        }
        & .product-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & .is-wholesale { color: rgb(24, 197, 24); font-size: smaller; }
            & .is-not-wholesale { color: red; font-size: smaller; }
            & .stock span:last-of-type { font-weight: 600; }
        }
        & .product-details {
            & details, .details {
                display: flex;
                flex-direction: column;
            }
            & details {
                gap: .5rem;
                & summary {
                    list-style: none;
                    cursor: pointer;
                    background-color: #e9eaeb;
                    padding: .1rem .6rem;
                    border-radius: .4rem;
                    outline: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 600;
                    &::after {
                        position: relative;
                        top: 3px;
                        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23111111'%3E%3Cpath d='M480-80 240-320l57-57 183 183 183-183 57 57L480-80ZM298-584l-58-56 240-240 240 240-58 56-182-182-182 182Z'/%3E%3C/svg%3E");
                    }
                }
                &[open] summary::after {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23111111'%3E%3Cpath d='m356-160-56-56 180-180 180 180-56 56-124-124-124 124Zm124-404L300-744l56-56 124 124 124-124 56 56-180 180Z'/%3E%3C/svg%3E");
                }
            }
            & details .details {
                gap: .6rem;
                background-color: var(--hover-color-50);
                padding: 1rem;
                border-radius: .4rem 0 .4rem .4rem;
                & div, p, strong {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                & div {
                    background-color: #fff;
                    padding: .25rem .6rem;
                    border-radius: .3rem;
                    font-size: smaller;
                    display: flex;
                    justify-content: space-between;
                    gap: .7rem;
                    & strong { gap: .5rem; min-width: max-content; }
                    & strong span { font-style: italic; text-transform: capitalize; }
                    & strong svg {
                        min-width: 22px;
                        min-height: 22px;
                        max-width: 22px;
                        max-height: 22px;
                        fill: #111;
                    }
                }
            }
        }
        &:hover {
            box-shadow: 0 0 .1rem 0 gray;
            & details summary {
                background-color: #dde0e2;
            }
        }
    }
}
.sale-summary-container {
    grid-area: summary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 .1rem 0 gray;
    & div {
        flex: 1;
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: .5rem;
        & p {
            font-size: larger;
        }
        & span { font-weight: 500; color: var(--primary-color); letter-spacing: .1rem; }
    }
    & div:not(:first-child) {
        border-inline-start: 1px solid gray;
    }
    & .pay-confirm-form form  {
        min-width: 100%;
        & button {
            box-shadow: 0 .2rem .2rem 0 rgba(128, 128, 128, 0.734);
            place-self: center;
            gap: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: 80%;
            font-size: larger;
            padding: .2rem;
            letter-spacing: .1rem;
            border-radius: .4rem;
            background-color: var(--primary-color);
            cursor: pointer;
            &:hover { filter: invert(); }
            &:active svg { fill: #000; }
        }
    }
}

.add-remove-btns.compact button {
    display: none;
}


















/*  M E D I A   Q U E R I E S  */
@media screen and (max-width: 810px) {
    .header {
        position: sticky;
        top: 0;
        z-index: 10;
        box-shadow: 0 .01rem .1rem 0 gray;
    }

    .nav-links-container  { display: none; }

    .brand-logo-sidebar-button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        & img {
            min-height: auto;
            height: var(--header-height);
            min-width: auto;
        }
    }
}


@media screen and (max-width: 700px) {
    body {
        grid-template-areas:
            "nav"
            "main";
    }

    .point-of-sale-grid-container {
        grid-template-areas:
        "list"
        "details"
        "summary";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr auto;
    }

    .sale-summary-container {
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        padding: 1.5rem;
        align-items: stretch;
        & div {
            align-items: center;
            justify-content: space-between;
            &:not(:first-child) {
                border: none;
            }
        }
        & .pay-confirm-form form {
            & button {
                width: 100%;
            }
        }
    }

    .searcher-products-list-container { box-shadow: none; }

}

